body {
  background-color: rgb(57, 58, 75);
}
.navItems .container-fluid .navList .ulList .liList .aList {
  color: rgb(255, 255, 255);
  margin: 15px;
  font-size: 16px;
  font-weight: 500;
  background: none;
}
.navItems button {
  width: 60px;
  border-radius: 8px;
  background: rgb(136, 133, 133);
  color: white;
  border: none;
  height: 30px;
  margin-bottom: 10px;
}
.logo{
    width: 50px;
    height: 60px;
    border-radius: 5px;
    /* border: 1px solid red; */
    margin-left: 10px;
}
main {
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  margin-top: 10px;
}
main .row .dataSection {
  /* margin-top: 10px; */
}
main .row .formSection {
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 1px solid red; */
}
main .row .formSection .formArea h4 {
  font-weight: 600;
  color: #707070;
}
main .row .dataSection {
  padding-left: 20px;
}
main .row .dataSection .head h1 {
  color: white;
  font-weight: 900;
  font-size: 60px;
}
main .row .dataSection .head h1 span {
  color: rgb(63, 140, 241);
}
main .row .dataSection .readCompany {
  color: white;
  width: 80%;
  /* border: 1px solid red; */
}
main .row .dataSection .readCompany p {
  margin-top: 30px;
}
main .row .dataSection .icons {
  display: flex;
  justify-content: space-between;
}
main .row .dataSection .icons i {
  font-size: 20px;
  padding: 10px;
  color: white;
}
main .row .dataSection .icons span {
  color: white;
  margin-left: 10px;
}
main .row .formSection .formArea {
  width: 75%;
  /* border: 1px solid red; */
  height: 70vh;
  border-radius: 10px;
  padding-top: 10px;
  background: white;
  padding: 20px;
}
main .row .formSection .formArea input {
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  /* text-align: center; */
}
main .row .formSection .formArea button {
  margin-top: 30px;
  width: 100%;
  padding: 5px;
  margin-bottom: 25px;
}
main .row .formSection .formArea p {
  font-size: 14px;
  color: #707070;
}

h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-weight: 800;
  color: white;
  font-size: 40px;
}
.row {
  margin-top: 40px;
  margin-bottom: 20px;
}
.container .row .productImage {
  display: flex;
  justify-content: center;
}
.container .row .productImage .image {
  width: 70%;
  height: 30vh;
  /* border: 1px solid red; */
  border-radius: 10px;
}

.container .row .productDetails p {
  color: white;
}
.container .row .productDetails a{
    text-decoration: none;
}
main .feature .row .first {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
main .feature .row .first .card {
  width: 90%;
  height: 400px;
  border: 1px solid rgb(182, 181, 181);
  border-radius: 10px;
  /* background: none; */
  padding: 10px;
}
main .feature .row .first .card .card-title{
    font-weight: 600;
}
main .feature .row .first .card .card-text{
    height: 280px;
    /* border: 1px solid red; */
    width: 100%;
}
main .feature .row .first .card .action {
  position: relative;
  bottom: 0%;
  /* left: 0; */
  background: rgb(57, 58, 75);
  border: none;
}
main .company .container {
  height: 6vh;
  /* background: white; */
  border-radius: 10px;
}
main .company .container{
    height: 60vh;
    /* background: white; */
    border-radius: 10px;
    /* border: 1px solid red; */
}
main .company .container .mySlides{
    height: 30vh;
    width: 33.3%;
}
footer {
  position: relative;
  top: 100%;
  height: 23vh;
  margin-top: 80px;
  border-top: 1px solid rgb(139, 139, 139);
}
footer .footerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerIcons a i {
  display: inline-block;
  /* border: 1px solid red;
    width: 40px;
    height: 40px;
    border-radius: 20px; */
  margin: 20px;
  font-size: 30px;
  color: white;
}
footer .footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerLinks ul li {
  display: inline;
}
footer .footerLinks ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 20px;
}
footer .copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyRight p {
  color: white;
}

/* * {
    box-sizing: border-box;
  }
   */
/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
  margin-bottom: 80px;
}

/* Style the list */
.price {
  list-style-type: none;
  /* border: 1px solid #eee; */
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Pricing header */
.price .header {
  background-color: rgb(85, 86, 109);
  color: white;
  font-size: 25px;
  font-weight: 600;
}

/* List items */
.price li {
  border-bottom: 1px solid rgb(85, 86, 109);
  padding: 20px;
  text-align: center;
  color: white;
}

/* Grey list item */
.price .grey {
  background-color: #eee;
  font-size: 20px;
  color: rgb(85, 86, 109);
}

/* The "Sign Up" button */
li .button {
  background-color: rgb(85, 86, 109);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 20px;
}
.leftArrow{
    position: relative;
    top: 40%;
    left:-30;
    z-index: 1;
    background: none
}
.rightArrow{
    position: relative;
    top: 40%;
    left: 94%;
    z-index: 1;
    background: none
}

/* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .row .formSection .formArea {
    height: 40vh;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  main .row .formSection .formArea {
    height: 70vh;
    margin-top: 20px;
  }
  main {
    margin-top: 0px;
  }
  main .row .dataSection {
    margin-top: 0px;
  }
  main footer .row {
    height: 40vh;
    text-align: center;
  }
}

@media (max-width: 360px) {
  main .row .dataSection .icons i {
    font-size: 15px;
    /* padding: 10px; */
    color: white;
  }
  main .row .dataSection .icons {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  main footer .row {
    height: 50vh;
    text-align: center;
  }
}







/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  height: auto;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  /* height: 200px; */
}
.mySlides img{
    height: 200px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}