.row1 .right .row .linkSection{
    background-color: white;
    padding-right: 10px;
    padding-top: 20px;
}
.row1 .right .row .linkSection a{
    width: 95%;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: #454F63;
    font-weight: 550;
    display: block;
    align-items: center;
    font-size: 14px;

}
.row1 .right .row .linkSection i{
    margin-right: 15px;
    color: blue;
}
.row1 .right .row .linkSection a:hover{
    background-color: rgba(236, 243, 243, .8);
    border: 1px solid #707070;
    border-radius: 5px;
}
.row1 .right .dashboardSection .dashboardReghtSection{
    /* border: 1px solid #707070; */
    width: 40%;
    height: 35px;
    border-radius: 5px;
    background: white;
}
.row1 .right .dashboardSection a{
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
}
.row1 .right .dashboardSection span{
    font-size: 20px;
    font-weight: 600;
}
.row1 .right .dashboardSection .newTicket{
    margin-left: 20px;
}
.row1 .right .dashboardSection .dashboardReghtSection input{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: none;
    border: 1px solid #707070;
    padding: 5px;
}
.row1 .right .row .boxSection{
    padding: 20px;
}
.row1 .right .row .boxSection .productCard{
    width: 250px;
    height: 300px;
    /* border: 1px solid #454F63; */
    /* border-radius: 5px; */
    float: left;
    margin: 10px;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
}
.row1 .right .row .boxSection .productCard .ProductImage{
    width: 130px;
    height: 130px;
    /* border: 1px solid #294f9b; */
    /* border-radius: 2px; */
    position: absolute;
    top: 12%;
}
.row1 .right .row .boxSection .productCard .productDetails{
    width: 100%;
    height: 100px;
    /* border: 1px solid #454F63; */
    position: absolute;
    bottom: 5%;
    text-align: center;
}
.row1 .right .row .boxSection .productCard .productDetails a{
    text-decoration: none;
    color: black;
}
.row1 .right .row .boxSection .productCard .productDetails .about{
    font-size: 12px;
    /* color: #707070; */
    color: #707070;
}
.row1 .right .row .boxSection .productCard .productDetails .productRate{
    font-size: 25px;
    font-weight: 600;
}
.row1 .right .footer{
    width: 100%;
    height:10vh;
    border: 1px solid #707070;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    background-color:white;
}
.row1 .right .footer a{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
}
.row1 .right .articles{
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}
@media (max-width: 768px){
    .row1 .right .row .linkSection{
        padding: 5px;
    }
    .row1 .right .row .linkSection i{
        font-size: 15px;
        margin-right: 5px;
    }
    .row1 .right .row .linkSection p a{
        font-size: 12px;
        font-weight: 600;
    }
    .row1 .right .row .boxSection .productCard{
        width: 240px;
        margin: 5px;
    }
}
@media (max-width: 574px){
    .row1 .right .row .linkSection{
        padding: 15px;
    }
    .row1 .right .row .linkSection i{
        font-size: 15px;
        margin-right: 15px;
    }
    .row1 .right .row .linkSection p a{
        font-size: 15px;
        font-weight: 600;
    }
    .row1 .right .dashboardSection a{
        font-size: 18px;
        margin-right: 10px;
    }
    .row1 .right .dashboardSection span{
        font-size: 18px;
        font-weight: 600;
    }
    .row1 .right .dashboardSection .newTicket{
        margin-left: 10px;
        font-size: 18px;
    }
    ::placeholder{
        font-size: 12px;
    }
}
@media (max-width: 480px){
    .row1 .right .dashboardSection .dashboardReghtSection{
        /* border: 1px solid #707070; */
        width: 30%;
        margin-right: 10px;
    }
    .row1 .right .dashboardSection{
        padding: 10px;
    }
    .row1 .right .dashboardSection a{
        font-size: 15px;
        margin-right: 5px;
    }
    .row1 .right .dashboardSection span{
        font-size: 15px;
        font-weight: 600;
    }
    .row1 .right .dashboardSection .newTicket{
        margin-left: 5px;
        font-size: 14px;
    }
    .row1 .right .dashboardSection .dashboardReghtSection input{
        width: 100%;
        height: 35px;
        border-radius: 5px;
        background: none;
        border: 1px solid #707070;
        padding: 5px;
    }
}