body{
    background-color: #F1F1F1;
}
.row1 .right .row .form .formSection{
    width: 98%;
    height: auto;
    /* border: 1px solid red; */
    background-color: white;
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
}
.row1 .right .row .form .formSection .formHead{
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
    margin-bottom: 10px;
}
.row1 .right .row .form .formSection .formHead span{
    font-weight: 500;
    margin-left: 20px;
    color: #707070;
}
.row1 .right .row .form .formSection .formHead a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}
.row1 .right .row .form .formSection .dashboardSection{
    background-color: #F1F1F1;
}
.row1 .right .row .form .formSection .dashboardSection a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
.row1 .right .row .form .formSection .dashboardSection span{
    font-size: 18px;
    font-weight: 550;
    margin-left: 10px;
    color: #454F63;
}
.row1 .right .row .form .formSection .dashboardSection .dashboardReghtSection button{
    width: 80px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background: none;
    background-color: white;
}
.row1 .right .row .form .formSection .dashboardSection .dashboardReghtSection .saveBtn{
    background-color: teal;
    border: none;
}
.row1 .right .row .form .formSection .dashboardSection .dashboardReghtSection .downArow{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: teal;
    position: absolute;
    top: 0%;
    right: -4%;
    cursor: pointer;
    text-align: center;
}
.row1 .right .row .form .listOfIcons{
    width: 200px;
    height: 80px;
    border: 1px solid #707070;
    float: right;
    z-index: 1;
    background: white;
    position: absolute;
    right: 20%;
    top: 23%;
    padding: 10px;
    display: none;
}
.row1 .right .row .form .listOfIcons a{
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 10px;
    
}
.row1 .right .row .form .listOfIcons a:hover{
    background-color:blanchedalmond;
    /* width: 100%; */
}
.row1 .right .row .form .formSection form .addNewRequester{
    width:100%;
    position: relative;
}
.row1 .right .row .form .formSection form .row .new .newRequester{
    text-align: right;
    position: absolute;
    top: 4px;
    right: 80px;
    text-decoration: none;
}
.row1 .right .row .form .formSection form .ccLink{
    /* float: right; */
    height: 40px;
    width: 93%;
    /* border: 1px solid red; */
    position: relative;
}
.row1 .right .row .form .formSection form .ccLink a{
    position: absolute;
    right: 10px;
    text-decoration: none;
}
.row1 .right .row .form p{
    margin-bottom: 20px;
}
.row1 .right .row .form select{
    width: 50%;
    margin-bottom: 20px;
}
.row1 .right .row .form input{
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.row1 .right .row .form span{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.row1 .right .row .form textarea{
    margin-bottom: 30px;
    height: 100px;
}
.row1 .right .row .form .afterText{
    margin-top: 20px;
}
.row1 .right .row .form .smallArea{
    width: 50%;
}
.row1 .right .row .form .plusLink a{
    text-decoration: none;
}
.row1 .right .row .form .fileUpload{
    margin-top: 50px;
}
.row1 .right .footer{
    width: 100%;
    height:10vh;
    border: 1px solid #707070;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    background-color:white;
}
.row1 .right .footer a{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
}
.row1 .right .articles{
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}
@media (max-width: 768px){
    .row1 .right .row .form select{
        width: 80%;
        margin-bottom: 20px;
    }
    .row1 .right .row .form .smallArea{
        width: 80%;
    }
}
@media (max-width: 1000px){
    .row1 .right .row .form select{
        width: 80%;
        margin-bottom: 20px;
    }
    .row1 .right .row .form .smallArea{
        width: 80%;
    }
}
@media (max-width: 768px){
    .row1 .right .row .form .formSection .dashboardSection a{
        font-size: 15px;
        font-weight: 650;
        margin-right: 5px;
    }
    .row1 .right .row .form .formSection .dashboardSection span{
        font-size: 14px;
        font-weight: 650;
        margin-left: 5px;
        color: #454F63;
    }
    .row1 .right .row .form .formSection .dashboardSection .dashboardReghtSection button{
        width: 60px;
    }
    .row1 .right .row .form .formSection .dashboardSection .dashboardReghtSection .saveBtn{
        width: 50px;
        padding-right: 10px;
    }
    .row1 .right .row .form .formSection .dashboardSection .dashboardReghtSection .downArow{
        height: 30px;
        width: 20px;
        border-radius: 5px;
        background-color: teal;
        position: absolute;
        top: 0%;
        right: -5%;
        cursor: pointer;
        text-align: center;
    }
    .row1 .right .row .form .formSection form .addNewRequester{
        width:100%;
        position: relative;
    }
    .row1 .right .row .form .formSection form .row .new .newRequester{
        text-align: right;
        position: absolute;
        top: 58%;
        right: 12%;
    }
    .row1 .right .row .form .formSection .dashboardSection a{
        font-size: 15px;
        margin-right: 5px;
    }
    .row1 .right .row .form .formSection .dashboardSection span{
        font-size: 15px;
        margin-left: 5px;
    }
    .row1 .right .row .form .formSection{
        margin-left: 0px;
    }
    .row1 .right .row .form .formSection .formHead span{
        margin-left: 5px;;
    }
    .row1 .right .row .form .formSection .formHead a{
        margin-left: 5px;
    }
}