
main .row .formSection .formArea{
    width: 75%;
    /* border: 1px solid red; */
    height: 45vh;
    border-radius: 10px;
    padding-top: 10px;
    background: white;
    padding: 20px;
}
h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-weight: 800;
    color: white;
    font-size: 40px
}
.row{
    margin-top: 40px;
    margin-bottom: 20px;
}
.container .row .productImage{
    display: flex;
    justify-content: center;
}
.container .row .productImage .image{
    width: 70%;
    height: 30vh;
    border: 1px solid red;
    border-radius: 10px;
}

.container .row .productDetails p{
    color: white;
    
}
main .feature .row .first{
    display: flex;
    justify-content: center;
}
main .feature .row .first .card{
    width: 80%;
    height: 300px;
    border: 1px solid rgb(182, 181, 181);
    border-radius: 10px;
    background: none;
    padding: 10px;

} 
main .feature .row .first .card h4{
    color: white;
}
main .feature .row .first .card p{
    color: white;
}
main .feature .row .first .card button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    /* border: none; */
    border: 1px solid white;
    background: none;
    top: 80%;
    right: 10%;
    color: white;
    
}