*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f1f1f1;
}
.row1{
    display:grid;
    grid-template-columns: 5% 95%;
}
.row1 .leftIcons{
    background-color: rgb(141, 15, 141);
    height: 120vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* overflow: hidden; */
    left: 0;
    z-index: 1;
}
.row1 .leftIcons .leftIconPosition{
    position: relative;
    top: 50px;
    left: 20%;
}
.row1 .leftIcons i{
    color: white;
    font-size: 30px;
    display: block;
    /* justify-content: space-around; */
    margin-top: 30px;
    margin-left: 5px;
}
.row1 .leftIcons .leftIconPosition a{
    text-decoration: none;
}
.row1 .right{
    float: left;
}
.row1 .right nav h4{
    margin: 50px;
    color: white;
}
.row1 .right nav .logo{
    font-size: 25px;
    background-color: rgb(141, 15, 141);
    display: block;
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;

}
.row1 .right nav .logo .navIcons{
    position: absolute;
    right: 2%;
    top: 10;
    display: block;
}
.row1 .right nav .logo .navIcons a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
.row1 .right nav .logo .navIcons .userImage{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 10px
}
.row1 .right .logo .checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 2%;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* .row .right nav .logo .navIcons a button{
    border-radius: 5px;
    height: 30px;
    width: 100px;
} */
.row1 .right .dashboardSection{
    width: 100%;
    border: 1px solid black;
    height: 55px;
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    /* margin-bottom: 20px; */
}
.row1 .right .dashboardSection .dashboardReghtSection{
    position: absolute;
    right: 3%;
}
.row1 .right .dashboardSection .dashboardReghtSection a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    /* color: white; */
}
.row1 .right .ticket{
    padding: 5px;
    width: 100%;
    height: auto;
}
.row1 .right .ticket .ticketArea{
    height: 100px;
    width: 195px;
    /* border: 1px solid white; */
    float: left;
    margin: 8px;
    padding: 15px;
    color: #454F63;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    background-color: white;
}
.row1 .right .ticket .number{
    position: relative;
    top: 30%;
    /* left: 10%; */
}
.row1 .right .ticket .red{
    color: red;
}
.row1 .right .barArea{
    width: 100%;
    height: 300px;
}
.row1 .right .barArea .first{
    width: 380px;
    height: 300px;
    /* border: 1px solid white; */
    border-radius: 5px;
    float: left;
    padding: 10px;
    margin: 20px;
    background-color: white;
    color: #454F63;
    font-size: 15px;
    font-weight: 600;
}
.row1 .right .barArea .first a{
    float: right;
    text-decoration: none;
}
@media (max-width: 1000px){
    .row1 .leftIcons .leftIconPosition{
        position: relative;
        top: 50px;
        left: 15%;
    }
    .row1 .leftIcons i{
        font-size: 25px;
    }
    .row1 .right .barArea .first{
        width: 310px;
        height: 300px;
    }
}
@media (max-width: 834px){
    .row1{
        display:grid;
        grid-template-columns: 6% 94%;
    }
    .row1 .leftIcons .leftIconPosition{
        position: relative;
        top: 50px;
        left: 15%;
    }
    .row1 .leftIcons i{
        font-size: 25px;
    }
    .row1 .right .logo .checkbtn{
        display: block;
    }

    .row1 .right nav .logo .navIcons{
        position: fixed;
        width: 100%;
        height: 80px;
        line-height: 50px;
        height: auto;
        top: 60px;
        left: -100%;
        text-align: center;
        display: block;
        background-color: violet;
        overflow: hidden;
        transition: all .5s;
        z-index: 1;
    }
    .row1 .right .logo #check:checked ~ .navIcons{
        left: 0;
        overflow: hidden;
    }
    .row1 .right nav .logo{
        overflow: hidden;
    }
    .row1 .right nav .logo .navIcons .userImage{
        margin-bottom: 5px;
    }
    .row1 .right .ticket{
        padding: 5px;
        padding-left: 25px;
        width: 100%;
        height: auto;
    }
}
@media (max-width: 480px){
    .row1{
        display:grid;
        grid-template-columns: 10% 90%;
    }
    .row1 .leftIcons .leftIconPosition{
        position: relative;
        top: 50px;
        left: 15%;
    }
    .row1 .right .ticket{
        padding: 5px;
        padding-left: 0px;
        width: 100%;
        height: auto;
    }
    .row1 .right .barArea .first{
        width: 380px;
        height: 300px;
    }
    .row1 .right .dashboardSection .dashboardReghtSection{
        position: absolute;
        right: 0%;
    }
    .row1 .right .dashboardSection .dashboardReghtSection a{
        margin-right: 15px;
        font-size: 14px;
        font-weight: bold;
    }
    .row1 .right .dashboardSection{
        padding-left: 10px;
    }
}
@media (max-width: 360px){
    .row1{
        display:grid;
        grid-template-columns: 12% 88%;
    }
    .row1 .right nav .logo{
        font-size: 20px;
    }
    .row1 .right nav .logo .navIcons .userImage{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-right: 50px
    }
    .row1 .right nav .logo .navIcons a{
        text-decoration: none;
        /* margin-right: 30px; */
        color: white;
    }
    .row1 .right .ticket .ticketArea{
        height: 120px;
        width: 80%;
        margin-left: 30px;
    }
    .row1 .right .barArea .first{
        width: 280px;
        height: 300px;
    }
    .row1 .right .dashboardSection .dashboardReghtSection{
        position: absolute;
        right: 0%;
    }
    .row1 .right .dashboardSection .dashboardReghtSection a{
        margin-right: 10px;
        font-size: 12px;
        font-weight: bold;
    }
    .row1 .right .dashboardSection{
        padding-left: 10px;
    }
}